* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  list-style-type: none;
}

.header {
  text-align: center;
}

.header h1 {
  color: skyblue;
  font-size: 4rem;
}

.new-todo {
  font-size: 3rem;
  border: 2px solid pink;
  border-radius: 2px;
}

input[type="checkbox"] {
  display: block;
  border: 2px solid red;
}

.input-box {
  /* background: red; */
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
