* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  list-style-type: none;
}

.header {
  text-align: center;
}

.header h1 {
  color: skyblue;
  font-size: 4rem;
}

.new-todo {
  font-size: 3rem;
  border: 2px solid pink;
  border-radius: 2px;
}

input[type="checkbox"] {
  display: block;
  border: 2px solid red;
}

.input-box {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  color: white;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.footer * {
  margin-right: 10px;
  padding: 4px 10px;
  text-align: center;
  background: #2d8cf0;
  border-radius: 2px;
}

.footer *:hover {
  background: #5cadff;
}

.footer.span {
  display: inline-block;
}
.footer li {
  display: inline-block;
}

.footer a {
  text-decoration: none;
  color: white;
}
